* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Green-Land {
    font-family: 'Chelsea Market', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.logo {
    width: 150.69px;
    height: 150.57px;
}


.planeta-plantas {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;

}